/.DS_Store
/training/datasets
/models
/__pycache__
node_modules/
api/venv/
__pycache__/
*.pyc
*.db
.env
node_modules/
.vite/
__pycache__/
*.pyc

node_modules/
.vite/
.tanstack/

__pycache__/
*.pyc

.env

models/
outputs/
logs/

training/datasets/

*.pt
*.pth
*.ckpt
*.bin

RAG/GRAPHRAG/data/
training/sft/data/

*.db
*.json

JANGAN khawatir: